<html>
    <head>
        <title>Batuhan Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Batuhanın Blogu</a></h1>
        </div>
        <div>
            <p>published: 19.07.2021, 12:14</p>
            <h2><a href="">İlk Blogum</a></h2>
            <p>Çok heyecanlıyım! Bu benim ilk blogum. Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. </p>
        </div>

        <div>
            <p>published: 19.07.2022, 12:20</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p>Selamın aleyküm, aleyküm selam.</p>
        </div>
    </body>
</html>
